.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        position: relative;
        background-color: #fff;
        font-size: 100px; 
        padding: 20px 70px 20px 50px;
        border-radius: 5px;
        color: $main-title-color;
    }
    &__close {
        position: absolute;
        top: -70px;
        right: -60px;
        color:#fff;
        font-size: 100px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: rgb(221, 29, 29);
        }
    }
}
